/* Roscoe and Jane Biz Site, Week Five Lecture 2 Homework, Stylesheet */
html {
	font-family: Arial, sans-serif;
}

html.landing-page {
	margin: 0;
    background: url('../images/3-cupcakes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /*0% -6%;*/
    /*background-attachment: fixed;*/
    /*top: 25%;*/
}

body {
	margin: 0;
}

.landing-page {
    top: 0;
    text-align: center;
	font-family: Poiret One, cursive;
}

/*.name-container {
	width: 84%;
	margin:0 auto;
	max-width:1140px;
}*/

.landing-page h1 {
	text-align: center;
	/*display: block;*/
	/*font-size: 4.37em;*/
	color: rgba(157,198,216,1); /* blue */
	margin: 3% auto 3%;
}

.landing-header {
	position: fixed;
	width: 100%;
	height: 10%;
	/*margin-bottom: 40px;*/
	top: 0;
	left: 0;
}

.landing-nav {
	position: relative;
	/*font-size: 1em;*/
	/*margin-top: 45%;*/
	/*margin-left: 8px;*/
	display: block;
    /*width: 65%;*/
    margin: 45% auto 3%;
    padding: 0px 0px 0px 0px;
}

.landing-nav ul {
	/*top: 0;
	margin: 0;
	padding: 15px;
    background: rgba(198,203,204,1); /* light gray */
    /*left: -5%;*/
}

.landing-nav li {
	display: inline;
    padding: 5px 10px 5px 10px;
}

.pink a {
	color: rgba(227,134,143,1); /* pink */
	text-decoration: none;
}

.blue a {
	color: rgba(157,198,216,1); /* blue */
	text-decoration: none;
}

.landing-nav a:hover {
	color: rgba(136,134,136,1); /* dark gray */
}

.active.landing-nav a {
	color: rgba(253,238,170,1); /* yellow */
}

.nav {
	position: fixed;
	width: 100%;
	height: 10%;
	margin-bottom: 20px;
	top: 30px;
	left: 0;
	z-index: 9999;
}

.nav ul {
	top: 0;
	margin: 0;
	padding: 15px;
    background: rgba(198,203,204,1); /* light gray */
    text-align: center;
}

.nav li {
	display: inline;
    padding: 5px 10px 5px 10px;
}

.nav a {
	color: rgba(255,255,255,1); /* white */
	text-decoration: none;
}

.nav a:hover {
	color: rgba(136,134,136,1); /* dark gray */
}

.active a {
	color: rgba(253,238,170,1); /* yellow */
}

.header {
	position: fixed;
	width: 100%;
	height: 10%;
	margin-bottom: 40px;
	top: 0;
	left: 0;
	/*background: rgba(157,198,216,1); /* blue */
}

.main-content {
	margin: 0 auto;
	height: 1000px;
	width: 900px;
	background: rgba(253,238,170,1); /* yellow */
}

/*.main-container {
	margin: 0 auto;
	float: left;
	position: relative;
	/*left: 50%;*/ /*
	width: 100%;
}
/*
.fixer-container {
	margin: 0;
	float: left;
	position: relative;
	/*left: -50%;*/ /*
}
*/
.left-column {
	float: left;
	margin: 40px 20px 30px 20px;
	padding: 20px;
	width: 43%;
	position: relative;
	left: 7%;
	background: rgba(255,255,255,1); /* white */
	border-style: solid;
	border-color: rgba(255,255,255,1); /* white */
	color: rgba(198,203,204,1); /* light gray */
	padding: 45px 0px 0px 0px;
}

.left-column h1 {
	font-family: Poiret One, cursive;
	color: rgba(157,198,216,1); /* blue */
}

.right-column {
	float: left;
	margin: 40px 20px 30px 20px;
	padding: 20px;
	width: 40%;
	position: relative;
	left: 7%;
	background: rgba(255,255,255,1); /* white */
	border-style: solid;
	border-color: rgba(255,255,255,1); /* white */
	color: rgba(198,203,204,1); /* light gray */
	padding: 45px 0px 0px 0px;
}

.right-column h1 {
	font-family: Poiret One, cursive;
	color: rgba(157,198,216,1); /* blue */
}

.right-column a {
	color: rgba(157,198,216,1); /* blue */
	text-decoration: none;
}

.right-column a:hover {
	color: rgba(253,238,170,1); /* yellow */
}

#map-canvas {
    width: 23em;
    height: 20em;
}

/*Page 2*/
.galleryHeading {
width: 80%;
margin-top:100px;
margin-right:auto; 
margin-left: auto;
overflow: hidden;
text-align: center;

}

.galleryContainer {
width: 80%;
margin-top:30px;
margin-right:auto; 
margin-left: auto;
overflow: hidden;
text-align: center;
}


.galleryHeading h1{
  display: block;
  font: 50px/1.0 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 15px 2%;
}

.galleryHeading p {
color: #797478;
display: block;
margin: 15px 0 15px 2%;


}

.galleryItem {
  display: inline-block;
  color: #797478;
  font: 10px/1.5 Verdana, Helvetica, sans-serif;
  width: 16%;
  margin: 2% 2% 50px 2%;
}

.galleryItem h3 {
text-transform: uppercase;
min-height: 36px;
}

.galleryItem img {
max-width: 100%;
border-radius: 10px;
}

/*Page 2*/




.footer {
	clear: both;
	display: inline-block;
	text-align: center;
	width: 95%;
	position: relative;
	left: 2.1%;
	margin: 0;
	background: rgba(198,203,204,1); /* light gray */
	border-style: solid;
	border-color: rgba(198,203,204,1); /* light gray */
	border-top-left-radius: 0.75em;
	border-top-right-radius: 0.75em;
	font-family: Poiret One, cursive;
	color: rgba(255,255,255,1); /* white */
	padding: 0px 0px 0px 0px;
}

.social-icons {
	list-style-type: none;
	padding: 10px;
}

.social-icons li {
	display:inline;
}

.icon {
	width: 4%;
}

@media (max-width: 940px) {
	.galleryItem{width: 21%}
}

@media (max-width: 720px) {
	.galleryItem {width: 30%;}
}

@media (max-width: 530px) {
	.galleryItem {width: 46%;}
}

@media (max-width: 320px) {
	.galleryItem {
		width: 96%;
	}
	.galleryItem img {
		width: 96%
	}
	.galleryItem h3 {
		font-size: 18px;
	}
	.galleryItem p {font-size: 18px;
	}
}


.name {
	text-align: left;
}

.phone {
	text-align: center;
}

.email {
	text-align: right;
}

.email a {
	color: rgba(255,255,255,1); /* white */
	text-decoration: none;
}

.email a:hover {
	color: rgba(136,134,136,1); /* dark gray */
}

@media (max-width: 991px) {
	.left-column {
		width: 48%;
		left: 3%;
	}

	.right-column {
		width: 35%;
		left: 3%;
	}

	#map-canvas {
		width: 22em;
		height: 19em;
	}
}

@media (max-width: 767px) {
	.left-column {
		width: 85%;
		left: 3%;
		margin: 40px 20px 0px 20px;
	}

	.right-column {
		width: 100%;
		left: 3%;
		margin: 0px 20px 30px 20px;
		padding: 0px 0px 0px 0px;
	}

	#map-canvas {
		width: 20em;
		height: 18em;
	}

	.icon {
		width: 5%;
	}
}

